Django==1.9.4
Markdown==2.5.2
PyYAML==3.11
click==5.1
compass-stylesheets==0.12.6
django-mustache==0.1.0
djangorestframework==3.3.3
html-json-forms==0.1.1
natural-keys==0.1.0
pyScss==1.3.4
pystache==0.5.4
https://github.com/sheppard/pyxform/archive/xml.zip
requests==2.7.0
six==1.10.0
swapper==0.3.0
unicodecsv==0.14.1
wq==1.0.0a1
wq.app==1.0.0a2
wq.core==1.0.0a1
wq.db==1.0.0a1
wq.io==1.0.0a1
wq.start==1.0.0a1
xlrd==0.9.4
https://github.com/wq/xlsform-converter/archive/master.zip
https://github.com/wq/django-media-thumbnailer/archive/master.zip
