body {
	font-size: 1.4em;
}

.error {
    color: red;
    clear: both;
}

.footer {
    text-align: center;
    font-size: 0.8em;
}
.footer, .footer a, .footer a:visited {
    color: #999;
}

.map {
    border: 1px solid #999;
}
.map.list-map {
    height: 500px;
}
.map.detail-map {
    height: 300px;
}
.map.edit-map {
    height: 400px;
}
.ui-listview > li p.hint {
    clear: both;
    margin-top: 0.5em;
    color: #666;
    font-size: 1.2em;
    white-space: normal;
}
li.ui-field-contain.numeric .ui-input-text {
    width: 5em !important;
    float: none;
    vertical-align: middle;
    display: inline-block;
}
