<!DOCTYPE html>
<html manifest="atlasbiowork.appcache">
  <head>
    <title>atlasbiowork</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="manifest" href="manifest.json">
	<link rel="icon" type="image/png" href="/favicon-16x16.png" />
	<link rel="shortcut icon" sizes="96x96" href="favicon-96x96.png">
    {{>head}}
  </head>
  <body>
    <div data-role="page" class="ui-page">
      <div data-role="header">
        <h1>atlasbiowork</h1>
      </div>
      <div role="main" class="ui-content">
        <p>Welcome to <b>atlasbiowork</b>, an <a href="http://soilcarboncoalition.org/atlasbiowork">open network</a> for sharing local observations on landscape function launched in September 2016. To participate, contact info at soilcarboncoalition.org</p>
        <ul data-role="listview" data-inset="true">
          <li data-icon="navigation">
            <a href="{{rt}}/locate">New Point Site + Observation</a>

          </li>
          <li data-icon="location">
            <a href="{{rt}}/sites">Sites</a>
          </li>
          <li data-icon="bullets">
            <a href="{{rt}}/observations">View Observations & Outbox</a>
          </li>
                 
          <li data-icon="location">
            <a href="{{rt}}/sites/new">New Site (you must be connected)</a>
          </li>
                {{#is_authenticated}}{{#user.is_staff}}
          <li data-icon="edit">
            <a href="{{rt}}/observationtypes/new">Create Observation Type</a>
          </li>
          {{/user.is_staff}}{{/is_authenticated}}
		  <li data-icon="lock">
            <a href="{{rt}}/login">{{#is_authenticated}}Log Out{{/is_authenticated}}{{^is_authenticated}}Log In{{/is_authenticated}}</a>
          </li>
        </ul>
      </div>
      <p class="footer">
        atlasbiowork v{{version}}
        &bull;
        Powered by <a href="https://wq.io/">wq</a>
      </p>
    </div>
  </body>
</html>
