<!DOCTYPE html>
<html manifest="atlasbiowork.appcache">
  <head>
    <title>atlasbiowork</title>
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link rel="manifest" href="manifest.json">
	<link rel="icon" type="image/png" href="/favicon-16x16.png" />
	<link rel="shortcut icon" sizes="96x96" href="/favicon-96x96.png">
    {{>head}}
  </head>
  <body>
    <div data-role="page" class="ui-page">
      <div data-role="header">
        <h1>atlasbiowork</h1>
      </div>
      <div role="main" class="ui-content">
        <p>The <b>Atlas of Biological Work</b> is an open network for sharing local and repeatable observations on soil health and watershed function. <a href="http://soilcarboncoalition.org/atlasbiowork">Info and instructions.</a></p>
        <ul data-role="listview" data-inset="true">
          <li data-icon="navigation">
            <a href="{{rt}}/locate">Add new point site + data</a>
          </li>
          <li data-icon="bullets">
             <a href="{{rt}}/observations">Recent data</a>
          <li data-icon="bullets">
            <a href="{{rt}}/observationtypes">Data types</a>
          </li>
          
          <li data-icon="location">
            <a href="{{rt}}/sites">Recent sites</a>
          </li>
                 
          <li data-icon="location">
            <a href="{{rt}}/sites/new">New site (must be online)</a>
          </li>
                {{#is_authenticated}}{{#user.is_staff}}
          <li data-icon="edit">
            <a href="{{rt}}/observationtypes/new">Create Observation Type</a>
          </li>
          {{/user.is_staff}}{{/is_authenticated}}
		  <li data-icon="lock">
            <a href="{{rt}}/login">{{#is_authenticated}}Log Out{{/is_authenticated}}{{^is_authenticated}}Log In{{/is_authenticated}}</a>
          </li>
        </ul>
      </div>
      <p class="footer">
        <a href="http://soilcarboncoalition.org">soilcarboncoalition.org</a></br>
        atlasbiowork v{{version}}
        &bull;
        powered by <a href="https://wq.io/">wq</a>
      </p>
    </div>
  </body>
</html>
