<!DOCTYPE html>
<html>
  <head>
    <title>Add Current Location</title>
    {{>head}}
  </head>
  <body>
    <div data-role="page" class="ui-page">
      <div data-role="header">
        {{>home}}
        <h1>Add Current Location</h1>
      </div>
      <div role="main" class="ui-content">
        <form action="javascript:void(null);" method="post" data-ajax="false" data-wq-json="false"
            id="locateform">
          <ul data-role="listview">
            <li class="ui-field-contain">
              <label for="name">Site Name</label>
              <input name="name" id="name" required>
            </li>
            <li data-role="fieldcontain">
              <fieldset data-role="controlgroup">
                <legend>Location Mode</legend>
                <input type='radio' value='gps' id='loc-gps' name='toggle' checked>
                <label for='loc-gps'>GPS Lookup</label>
                <input type='radio' value='interactive' id='loc-interactive' name='toggle'>
                <label for='loc-interactive'>Point on Map</label>
                <input type='radio' value='manual' id='loc-manual' name='toggle'>
                <label for='loc-manual'>Enter Cordinates</label>
              </fieldset>
            </li>
            <li>
              <div class="map edit-map" id="locate-map"></div>
            </li>
            <li class="ui-field-contain">
              <label for="latitude">Latitude</label>
              <input name="latitude" id="latitude" type="number" step="0.000001">
            </li>
            <li class="ui-field-contain">
              <label for="longitude">Longitude</label>
              <input name="longitude" id="longitude" type="number" step="0.000001">
            </li>
            <li class="ui-field-contain">
              <label for="accuracy">GPS Accuracy</label>
              <input name="accuracy" id="accuracy" type="number" step="0.001">
            </li>
            <li>
              <div class="ui-grid-a">
                <div class="ui-block-a">
                  <a href="{{rt}}/" data-role="button" data-icon="back" data-direction="reverse">
                    Back
                  </a>
                </div>
                <div class="ui-block-b">
                  <button type="submit" data-icon="check" data-theme="b">
                    Continue
                  </button>
                </div>
              </div>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </body>
</html>

