<!DOCTYPE html>
<html>
  <head>
    <title>{{label}}</title>
    {{>head}}
  </head>
  <body>
    <div data-role="page" class="ui-page">
      <div data-role="header">
        {{>home}}
        <h1>{{label}}</h1>
        {{#outbox_id}}
        <a href="{{rt}}/outbox/{{outbox_id}}/edit" data-icon="edit" data-transition="flip">
          Edit
        </a>
        {{/outbox_id}}
        {{^outbox_id}}
        {{#is_authenticated}}{{#user.is_staff}}
        <a href="{{rt}}/observations/{{id}}/edit" data-icon="edit" data-transition="flip">
          Edit
        </a>
        {{/user.is_staff}}{{/is_authenticated}}
        {{/outbox_id}}
      </div>
      <div role="main" class="ui-content">
        <h1>{{label}}</h1>
        <table>
          <tr><th>Type</th><td><a href="{{rt}}/observationtypes/{{type_id}}">{{type_label}}</a></td></tr>
          <tr><th>Site</th><td><a href="{{rt}}/sites/{{site_id}}">{{site_label}}</a></td></tr>
          <tr><th>Observer</th><td>{{observer_label}}</td></tr>
          <tr><th>Posted</th><td>{{entered_label}}</td></tr>
          {{#obs_html}}detail{{/obs_html}}
               
        </table>
        {{#parentobs}}
          <p>Parent or prior observation:<br>
          &nbsp;&nbsp;<a href="{{rt}}{{#outbox}}/outbox/{{outbox_id}}{{/outbox}}{{^outbox}}/observations/{{id}}{{/outbox}}">{{label}}</a></p>
        <p><a href="{{rt}}/observationtypes/?site_id={{site_id}}&parentobs_id={{#parentobs_id}}{{parentobs_id}}{{/parentobs_id}}{{^parentobs_id}}outbox-{{outbox_id}}{{/parentobs_id}}" data-icon="plus">Attach SIBLING observation</a></p>
        {{/parentobs}}
        
        <p><a href="{{rt}}/observationtypes/?site_id={{site_id}}&parentobs_id={{#id}}{{id}}{{/id}}{{^id}}outbox-{{outbox_id}}{{/id}}" data-icon="plus">Attach child observation, subsequent observation, or comment</a></p>
        
        <h3>Child observations:</h3>
        <ul data-role="listview" data-filter="false" data-inset="true">
	    {{#childobs}}
        <li>
	        <a href="{{rt}}/observations/{{id}}">{{label}}</a>
        </li>
        {{/childobs}}
        {{^childobs}}
		<li>No child observations found</li>
        {{/childobs}}
        </ul>
        {{^outbox_id}}
        <div class="map detail-map" id="observation-{{id}}-map"></div>
        {{/outbox_id}}
        
      </div>
    </div>
  </body>
</html>

