<!DOCTYPE html>
<html>
  <head>
    <title>{{label}}</title>
    {{>head}}
  </head>
  <body>
    <div data-role="page" class="ui-page">
      <div data-role="header">
        {{>home}}
        <h1>{{label}}</h1>
        {{#is_authenticated}}{{#user.is_staff}}
        <a href="{{rt}}/observations/{{id}}/edit" data-icon="edit" data-transition="flip">
          Edit
        </a>
        {{/user.is_staff}}{{/is_authenticated}}
      </div>
      <div role="main" class="ui-content">
        <h1>{{label}}</h1>
        <table>
          <tr><th>Type</th><td><a href="{{rt}}/observationtypes/{{type_id}}">{{type_label}}</a></td></tr>
          <tr><th>Site</th><td><a href="{{rt}}/sites/{{site_id}}">{{site_label}}</a></td></tr>
          <tr><th>Observer</th><td>{{observer_label}}</td></tr>
          <tr><th>Parent observation</th><td><a href="{{rt}}/observations/{{parentobs_id}}">{{parentobs_label}}</a></td></tr>
          <tr><th>Posted</th><td>{{entered_label}}</td></tr>
          {{#obs_html}}detail{{/obs_html}}
        
        
        </table>
        <a href="{{rt}}/observationtypes/?site_id={{site_id}}&parentobs_id={{id}}">Add related or subsequent observation, or a comment</a>
        {{#childobs}}
        <p>There are child observations.</p>
        {{{childobs}}}
        {{/childobs}}
        
        <div class="map detail-map" id="observation-{{id}}-map"></div>
        
      </div>
    </div>
  </body>
</html>

