<!DOCTYPE html>
<html>
  <head>
    <title>{{#id}}Edit{{/id}}{{^id}}Add{{/id}} Observation Type</title>
    {{>head}}
  </head>
  <body>
    <div data-role="page" class="ui-page">
      <div data-role="header">
        {{>home}}
        <h1>{{#id}}Edit{{/id}}{{^id}}Add{{/id}} Observation Type</h1>
      </div>
      <div role="main" class="ui-content">
        <form action="{{svc}}/observationtypes/{{id}}" method="post" data-ajax="false"
            data-wq-json="true" data-wq-background-sync="false">
          {{>csrf}}
          {{#id}}
          <input type=hidden name="_method" value="PUT">
          {{/id}}
          <ul data-role="listview">
            <li data-role="list-divider">General Information</li>
            <li class="ui-field-contain">
              <label for="name">Name</label>
              <input name="name" id="name" value="{{name}}">
              <p class="error observationtype-name-errors"></p>
            </li>
            <li class="ui-field-contain">
              <label for="icon">Icon</label>
              <input name="icon" id="icon" type="file">
              <p class="error observationtype-icon-errors"></p>
              {{#icon}}
              <div class="ui-content">
                <img src="{{svc}}/media/{{icon}}">
              </div>
              {{/icon}}
            </li>
            <li class="ui-field-contain">
              <label for="description">Description</label>
              <textarea name="description" id="description">{{description}}</textarea>
              <p class="error observationtype-description-errors"></p>
            </li>
            <li data-role="list-divider">Fields and Layout</li>
            <li class="ui-field-contain">
              <label for="xlsform">XLSForm</label>
              <input name="xlsform" id="xlsform" type="file" value="{{xlsform}}">
              <p class="error observationtype-xlsform-errors"></p>
              {{#xlsform}}
              <div class="ui-content">
                <a href="{{svc}}/media/{{xlsform}}" target="_blank">{{xlsform}}</a>
              </div>
              {{/xlsform}}
            </li>
            <li>
              <label for="edit_html">HTML Form</label>
              <p>(Leave blank to generate from XLSForm)</p>
              <code>
              &lt;form&gt;<br>
              &lt;ul data-role='listview'&gt;
              </code>
              <textarea name="edit_html" id="edit_html">{{edit_html}}</textarea>
              <code>
              &lt;/ul&gt;<br>
              &lt;/form&gt;
              </code>
              <p class="error observationtype-edit_html-errors"></p>
            </li>
            <li>
              <label for="detail_html">HTML Detail View</label>
              <p>(Leave blank to generate from XLSForm)</p>
              <code>
              &lt;table&gt;
              </code>
              <textarea name="detail_html" id="detail_html">{{detail_html}}</textarea>
              <code>
              &lt;/table&gt;
              </code>
              <p class="error observationtype-detail_html-errors"></p>
            </li>
            <li>
              <div class="ui-grid-a">
                <div class="ui-block-a">
                  <a href="{{rt}}/observationtypes/{{id}}" data-role="button" data-icon="back" data-direction="reverse">
                    Back
                  </a>
                </div>
                <div class="ui-block-b">
                  <button type="submit" data-icon="check" data-theme="b">
                    Submit
                  </button>
                </div>
              </div>
              <p class="error observationtype-errors"></p>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </body>
</html>

