<!DOCTYPE html>
<html>
  <head>
    <title>{{#id}}Edit{{/id}}{{^id}}Add{{/id}} Observation</title>
    {{>head}}
  </head>
  <body>
    <div data-role="page" class="ui-page">
      <div data-role="header">
        {{>home}}
        <h1>{{#id}}Edit{{/id}}{{^id}}Add{{/id}} Observation</h1>
      </div>
      <div role="main" class="ui-content">
        {{^type_id}}
        <p>Select a type!</p>
        {{/type_id}}
        <form action="{{svc}}/observations/{{id}}" method="post" data-ajax="false"
            data-wq-json="true"
            {{#outbox_id}}
              data-wq-outbox-id="{{outbox_id}}"
            {{/outbox_id}}>
          {{>csrf}}
          {{#id}}
          <input type=hidden name="_method" value="PUT">
          {{/id}}
          <ul data-role="listview">
            <input type="hidden" name="type_id" value="{{type_id}}">
            {{#site_id}}
              <li class="ui-field-contain">
                <label for="site_id_label">Site</label>
                <input id="site_id_label" value="{{#site}}{{label}}{{/site}}" disabled>
                <input type="hidden" name="site_id" value="{{site_id}}">
                <p class="error observation-site_id-errors"></p>
              </li>
            {{/site_id}}
            {{#parentobs_id}}
              <li class="ui-field-contain">
                <label for="parentobs_id_label">Related observation</label>
                <input id="parentobs_id_label" value="{{#parentobs}}{{label}}{{/parentobs}}" disabled>
                <input type="hidden" name="parentobs_id" value="{{parentobs_id}}">
              </li>
            {{/parentobs_id}}
            {{^site_id}}
            
            {{#site_data}}
            <li class="ui-field-contain">
              <label for="site_data_label">Site</label>
              <input id="site_data_label" value="{{site_data_label}}" disabled>
              <input type="hidden" name="site_data" value="{{site_data}}">
            </li>
            {{/site_data}}
            {{^site_data}}
            <li class="ui-field-contain">
              <label for="site_id">Site</label>
              <select id="site_id" name="site_id" required>
                <option value="">Select a site...</option>
                {{#site_list}}
                  {{>option}}
                {{/site_list}}
              </select>
              <p class="error observation-site_id-errors"></p>
            </li>
            {{/site_data}}
            {{/site_id}}
            {{#obs_html}}edit{{/obs_html}}
            <li>
              <div class="ui-grid-a">
                <div class="ui-block-a">
                  <a href="{{rt}}/observations/{{id}}" data-role="button" data-icon="back" data-direction="reverse">
                    Back
                  </a>
                </div>
                <div class="ui-block-b">
                  <button type="submit" data-icon="check" data-theme="b">
                    Submit
                  </button>
                </div>
              </div>
              <p class="error observation-errors"></p>
            </li>
          </ul>
        </form>
      </div>
    </div>
  </body>
</html>

