<!DOCTYPE html>
<html>
  <head>
    <title>Observation Types</title>
    {{>head}}
  </head>
  <body>
    <div data-role="page" class="ui-page">
      <div data-role="header">
        {{>home}}
        <h1>Observation Types</h1>
      </div>
      <div role="main" class="ui-content">
      <p>See <a href="http://soilcarboncoalition.org/atlasbiowork">info page</a> for ways to use and combine these data forms. We can add new forms on request.</p>
        <ul data-role="listview" data-filter="true" data-inset="true">
          {{#list}}
          <li>
            <a href="{{rt}}/observations/new?type_id={{id}}&site_id={{router_info.params.site_id}}&parentobs_id={{router_info.params.parentobs_id}}">
              {{#icon}}
              <img src="{{svc}}/media/{{icon}}">
              {{/icon}}
              {{^icon}}
              <img src="{{rt}}/images/empty.png">
              {{/icon}}
              <h3>{{label}}</h3>
              <p>{{description}}</p>
            </a>
            <a href="{{rt}}/observationtypes/{{id}}" data-icon="info">
              About
            </a>
          </li>
          {{/list}}
          {{^list}}
          <li>No Observation Types Found.</li>
          {{/list}}
        </ul>
      </div>
    </div>
  </body>
</html>
