<!DOCTYPE html>
<html>
  <head>
    <title>Sites</title>
    {{>head}}
  </head>
  <body>
    <div data-role="page" class="ui-page">
      <div data-role="header">
        {{>home}}
        <h1>Sites</h1>
        {{>paginator}}
      </div>
      <div role="main" class="ui-content">
        <div data-role="collapsible">
          <h3>Search by site id...</h3>
          <ul data-role="listview" data-filter="true" data-inset="true">
            {{#list}}
            <li>
                <a href="{{rt}}/sites/{{id}}">
                <h3>{{label}}</h3>
                </a>
                <a href="{{rt}}/observationtypes/?site_id={{id}}" data-icon="plus">
                Add Observation
                </a>
            </li>
            {{/list}}
            {{^list}}
            <li>No Sites Found</li>
            {{/list}}
          </ul>
        </div>
        <div class="map list-map" id="site-map"></div>
      {{>paginator}}
      </div>
    </div>
  </body>
</html>
